@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-boldpixels: BoldPixels, "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: BoldPixels;
  src: url("../public/fonts/BoldPixels.woff")
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: BoldPixels, Arial, Helvetica, sans-serif;
}
